body
{
    background-color: #4C5B5C;
}

.title
{
    color: bisque;
    size: 35px;

}



.ranger
{
    border: 2px solid black;
    margin-right: 25%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin-top: 20px;
}