* {
    margin: 0;
  }
  
  ::selection {
    background: transparent;
  }
  body {
    background: #1e1f29;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
  }
  .grid {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .win {
    position: absolute;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    font-size: 200px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    z-index: 0;
  }
  .item {
    z-index: 999;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: hsl(160, 100%, 50%);
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    color: #1e1f29;
    cursor: pointer;
  }
  
  .special {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff2;
  }
  /*
  .item:nth-child(1){background: hsl(20,100%,50%)}
  .item:nth-child(2){background: hsl(40,100%,50%)}
  .item:nth-child(3){background: hsl(60,100%,50%)}
  .item:nth-child(4){background: hsl(80,100%,50%)}
  .item:nth-child(5){background: hsl(100,100%,50%)}
  .item:nth-child(6){background: hsl(120,100%,50%)}
  .item:nth-child(7){background: hsl(140,100%,50%)}
  .item:nth-child(8){background: hsl(160,100%,50%)}
  .item:nth-child(9){background: hsl(180,100%,50%)}
  .item:nth-child(10){background: hsl(200,100%,50%)}
  .item:nth-child(11){background: hsl(220,100%,50%)}
  .item:nth-child(12){background: hsl(240,100%,50%)}
  .item:nth-child(13){background: hsl(260,100%,50%)}
  .item:nth-child(14){background: hsl(280,100%,50%)}
  .item:nth-child(15){background: hsl(300,100%,50%)}
  */